/* General Styling */
body {
    font-family: sans-serif; /* Choose a modern, clean font */
    margin: 0;
    padding: 20px;
}

/* Section 1 - Header */
#header {
    text-align: center;
    background-color: #FFD700; /* Gold background */
    padding: 20px;
}

#header h1 {
    color: #000; /* Black text */
}

/* Section 2 - Scientific Article */
#scientific-article {
    background-color: #FFF; /* White background */
    padding: 20px;
    border: 2px solid #FFD700; /* Gold border */
    line-height: 1.6; /* Adjust line spacing as needed */
}

.imagen{
    width: 80%;
}

#scientific-article h2 {
    color: #008000; /* Green heading */
}

/* Section 3 - Course Content */
#course-content {
    background-color: #f0f8ff; /* Light blue background */
    padding: 20px;
}

.lesson {
    margin-bottom: 20px;
    line-height: 1.6;
}

.lesson h3::before {
    content: "✓ "; /* Green checkmark */
    color: #008000;
}

/* Section 4 - Results */
#results {
    background-color: #FFF; /* White background */
    padding: 20px;
    border: 2px solid #FFD700; /* Gold border */
    line-height: 1.6; /* Adjust line spacing as needed */
}

#results h2 {
    color: #008000; /* Green heading */
}

/* Section 5 - Testimonials */
#testimonials {
    background-color: #f0f8ff; /* Light blue background */
    padding: 20px;
}

.testimonial {
    margin-bottom: 20px;
    padding-left: 20px; /* Add indentation */
    border-left: 5px solid #FF4500; /* Orange border for emphasis */
    line-height: 1.6;
}

/* Call to Action, Pricing, and Button */
#call-to-action, #pricing, #buy-button {
    text-align: center;
    padding: 20px;
}

#buy-button a {
    background-color: #008000; /* Green button */
    color: white;
    padding: 15px 30px;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

/* ------------------------footer------------------------------------ */

footer {
    padding: 20px;
    text-align: center;
    color: #b2b7d6;
    font-size: 11px;
}

.text-copyright {
    text-decoration: none;
    color: #070101;
}